<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="csrf-token" content="{{csrfToken}}">
    <title>{{ config('app.name', 'Laravel') }}</title>

    <!-- Scripts -->
    <script src="http://192.168.1.105:8080{{ mix('js/app.js', 'public') }}" defer></script>

     <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="http://192.168.1.105:8080{{ mix('css/app.css', 'public') }}" rel="stylesheet">
</head>
<body class="bg-gray-200 h-full">
<div id="app" class="antialiased h-full w-full">
    @!section('content')
</div>
</body>
</html>
